<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.UserDao">
<!-- └ 인터페이스와 연결할지를 결장하는 것 -->
  <select id="getPw" resultType="String">
  <!-- UserDAO의 아이디를 의미 -->
    select pw from user where id = #{id}
  </select>
  <select id="getCount" resultType="int">
  	select count(*) from user
  </select>
</mapper>